header
{
    background-color: chocolate;
    position: sticky;
    top: 0;
    
}
.bild1
{
    grid-column-start: 1;
    grid-column-end: 2;

}

button
{
    background-color: khaki;
    cursor: pointer;
}
button:hover
{
    background-color: aliceblue;
}

footer
{
    background-color: grey;
    border-radius: 15px;
}
.produkt1:hover
{
background-color: lightslategray;
}

.produkt2:hover

{
background-color: lightslategray;
}

.produkt3:hover
{
background-color: lightslategray;
}

.produkt4:hover
{
background-color: lightslategray;
}

.produkt5:hover
{
background-color: lightslategray;
}

.produkt6:hover
{
background-color: lightslategray;
}
#korg
{
    background-color: aliceblue;
    border-radius: 15px;
    border: 1px solid black;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.varukorg
{
    text-align: center;
}
.varukorg:hover
{
    background-color: lightslategray;
}
.tömmclick
{
    padding-left: 2rem;
    padding-right: 2rem;
}
footer
{
    padding-left: 1rem;
}
.footer_p
{
    padding-bottom: 1rem;
}
@media screen and (max-width:640px) 
{
   
    ::-webkit-scrollbar-thumb{

        background-color: black;

    }
    header
    {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
    }

    main
    {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        overflow-y: scroll;

    }
 
    .produkt1
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
      
    }
   
    .produkt2
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
    }
    .produkt3
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .produkt4
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .produkt5 
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
        
    
    }
    .produkt6
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
        
    
    }
    .h2
    {
        text-align: center;
    }
    
    
    .shopbilder
    {
     padding-left: 105px;
     
    }
    .button1
    {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-bottom: 10px;
        padding-left: 135px;

    }
   
    .varukorg
    {
       background-color: gray;
       border-radius: 15px;
       padding-left: 10px;
        padding-bottom: 30px;
    }
    
}
@media screen and (min-width:641px) and (max-width:1024px)
{
    ::-webkit-scrollbar-thumb{

        background-color: black;

    } 
    
  
    
    header
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    main
    {
        display: grid;
        grid-template-columns: 500px 250px ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        
        gap: 30px;
    
        overflow-y: scroll;
        margin-top: 20px;
    }

    .shopbilder
    {
     padding-left: 170px;
     margin-top: 20px;
    }
     .produkt1 
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
        
    
    }
    .produkt2
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
       
    }
    .produkt3
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
       
    }
    .produkt4
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
       
    }
    .produkt5 
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
        
    
    }
    .produkt6
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 6;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 2;
        
    
    }
    .h2
    {
        text-align: center;
    }
    .button1
    {
        
        padding-left: 205px;
        padding-bottom: 10px;
        

    }
    
    .varukorg
    {
       background-color: gray;
       border-radius: 15px;
       padding-left: 10px;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
       
    }
    
}
@media screen and (min-width:1025px)
{
    header
    {

    }
    
    main
    {
        display: grid;
        grid-template-columns: 27rem 27rem 15rem ;
        grid-template-rows: 1fr 1fr 1fr;
        
        gap: 40px;
    
        overflow-y: scroll;
        margin-top: 20px;
       
    }
    .produkt1 
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        padding-top: 3rem;
        
        
    
    }
    .produkt2
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
       
    }
    .produkt3
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
       
    }
    .produkt4
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
       
    }
    .produkt5 
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
        
    
    }
    .produkt6
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
        
        
    
    }
    .varukorg
    {
       background-color: gray;
       border-radius: 15px;
       padding-left: 10px;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
       
    }
    .button1
    {
        
        padding-left: 170px;
        padding-bottom: 10px;

    }
    .h2
    {
        text-align: center;
    }
    .shopbilder
    {
     padding-left: 140px;
     margin-top: 20px;
    }
}