header
{
    background-color: chocolate;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    
}
.bild1
{
    grid-column-start: 1;
    grid-column-end: 2;
}





@media screen and (max-width:640px) 
{
   
    ::-webkit-scrollbar-thumb{

        background-color: black;

    }

    main
    {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        overflow-y: scroll;

    }
    aside
    {

    }
    .produkt
    {
        background-color: grey;
        border-radius: 15px;
        margin-right: 25px;
        margin-left: 25px;
      
    }
    .h2
    {
        text-align: center;
    }
    .Searchbar
    {
        padding-top: 28px;
        padding-left: 80px;
        
    }
    .shopbilder
    {
     grid-column-start: 1;
     grid-column-end: 2;
     padding-left: 100px;
    }
    .button1
    {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 135px;
        padding-bottom: 10px;
        

    }
   
    .korg
    {
       background-color: gray;
       border-radius: 15px;
       padding-left: 10px;

    }
    
}